body{
		font-family: 'Courier New', sans-serif;


}

.sobre-text {
		width: 60%;
		text-align: center;
}

.inscricoes-text {
		text-align: center;
}
.formulario{
		width: 60%;
		text-align: center;
}


.container {
		width: 85%;
		margin: 0 auto;

}

header { 	
		background-color: #153641;
		


}

header::after {
		content: '';
		display: table;
		clear: both;
}

   .logo {	
   		float: left;
   		size: 10px 0;

   }

nav { 
		float: right;
		padding: 0px;

	}

nav ul {
		margin:  0;
		padding: 0;
		list-style: none;


}

nav li {
		display: inline-block;
		margin-left: 25px;
		padding-top: 35px;

}

nav a {
		color: #ffffff;
		text-decoration: none;


}

