body{
		font-family: 'Courier New', sans-serif;


}

.sobre-text {
		width: 60%;
		text-align: center;
}

.inscricoes-text {
		text-align: center;
}
.formulario{
		width: 60%;
		text-align: center;
}


.container {
		width: 85%;
		margin: 0 auto;

}

header { 	
		background-color: #153641;
		


}

header::after {
		content: '';
		display: table;
		clear: both;
}

   .logo {	
   		float: left;
   		size: 10px 0;

   }

nav { 
		float: right;
		padding: 0px;

	}

nav ul {
		margin:  0;
		padding: 0;
		list-style: none;


}

nav li {
		display: inline-block;
		margin-left: 25px;
		padding-top: 35px;

}

nav a {
		color: #ffffff;
		text-decoration: none;
		font-size: 1.3em;

}

footer {
   		position: fixed;
   		left: 0;
   		bottom: 0;
   		padding: 1%;
  		width: 100%;
   		background-color: #153641;
   		color: white;
   		text-align: center;
}

.container-texto {
		width: 65%;
		margin: 0 auto;

	}
	.flex-sobre {
		display: flex;
		height: 70vh;
		align-items: center;
	}
	.sobre-img {
		width: 43%;
		height: 80%;
		border-radius: 50%;
	
	}
	.sobre-texto {
		color: #153641;
		width: 100%;
		text-align: center;
		top: 5px;

	}
	.sobre-p {
		color: #153641;
		padding: 0 2em
	}